<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google webpage </title>
    <link rel="stylesheet" href="static/boot.css">
</head>
<body>
<style>
    .container34 .btn-group {
    text-align: left;
}
  hr.class-1 {
        border-top: 0.5px solid #000000;}






</style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google Logo">
                </h3>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Google Search</a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">



                        </ul>
                       <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" style="width: 500px;"> <!-- Adjust the width as needed -->
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>



                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container34">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group btn-group-md" role="group">
                    <button class="btn btn-secondary" type="button">
                        All
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Images
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Video
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Books
                    </button>
                     <button class="btn btn-secondary" type="button">
                        Shopping
                    </button>
                     <button class="btn btn-secondary" type="button">
                        News
                    </button>
                     <button class="btn btn-secondary" type="button">
                        More
                    </button>
                </div>
            </div>
        </div>
        </div>
       <div class="container-fluid">
    <div class="row">
        <!-- Content on the Left Side -->
        <div class="col-md-6">
            <p>About 876 results (0.48 seconds)</p>
            <img src="{{ url_for('static', filename='jcfs results.png') }}" alt="Social accounts" width="300">
            <div class="row">
                <div class="col-md-12">
                    <dl>
                        <dt><a href="{{url_for('page2')}}">JW KIM College of Future Studies</a></dt>
                        <dd>Woosong University's path of innovation and creativity in a dramatic response to the continued growth of online learning. JCFS's hybrid learning platform ...</dd>
                         <dt> <font color="#005AFF"> Bachelor Programs </font></dt>
                    <dd>Major concentration will be chosen in students 2nd year of study ...</dd>

                    <dt> <font color="#005AFF">History</font></dt>
                    <dd>JW Kim College of Future Studies (JCFS) is the newest addition to ...</dd>

                    <dt> <font color="#005AFF">Tuition and Fees</font> </dt>
                    <dd>JW KIM College of Future Studies. 전체 메뉴. About JCFS. The ...</dd>

                    <dt>  <font color="#005AFF">Admissions Scholarship </font></dt>
                    <dd>JW KIM College of Future Studies. 전체 메뉴. About JCFS. The ...</dd>

                        <dt><font color="#005AFF">Social media accounts</font></dt>
                        <img src="{{ url_for('static', filename='social meais .png') }}" alt="Social media accounts" width="300" height="50">
                    </dl>
                    <img src="{{ url_for('static', filename='wikipedai.png') }}" alt="Social accounts" width="300">
                    <dt><font color="#005AFF"> Woosong University</font></dt>
                    <dd>Woosong University, is a 4-year university, located in Daejeon, South Korea providing a specialized curriculum based on foreign-language and IT education ...<br>
                        Missing: jcfs |Show results with: <font color="#005AFF">jcfs</font></dd>
                    <dt><font color="#005AFF">Undergraduate Schools</font></dt>
                    <ul>
                        <li>Undergraduate School of Design and Information</li>
                        <li>Undergraduate School of Health and Welfare</li>
                        <li>Undergraduate School of International Studies</li>
                        <li>Undergraduate School of Railroad Transportation</li>
                    </ul>
                </div>
            </div>
        </div>
		 <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img src="{{ url_for('static', filename='map.jpg') }}" alt="Map" width="500" height="200"/>
                    <dl>
                        <dt>JCFS College</dt>
                        <dd>University in Daejeon, South Korea</dd>
                        <hr class="class-1"/>
                        <dd>Woosong University, is a 4-year university, located in Daejeon, South Korea providing a specialized curriculum based on foreign-language and IT education for every major field of study. <br><strong>
                            Address:</strong> 27 Baengnyong-ro 57 beon-gil, Jayang-dong, Dong-gu, Daejeon.  <font color="#005AFF">Wikipedia </font></dd>
                        <dd><strong>Phone number : </strong> <font color="#005AFF">+82 42-629-6114</font></dd>
                        <dd><strong>Founded:</strong> <font color="#005AFF">In 2020 </font></dd>
                        <dd><strong>School Type :</strong> <font color="#005AFF">Technology studies </font></dd>
                        <hr class="class-1"/>
                        <dt>People also ask:</dt>
                        <hr class="class-1"/>
                        <dd>Who is the owner of Woosong University?</dd>
                        <hr class="class-1"/>
                        <dd>What is the ranking of Woosong University?</dd>
                        <hr class="class-1"/>
                        <dd>What are the three big universities in Korea?</dd>
                        <hr class="class-1"/>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-U6Dd2lFqnmhGQUxryaukK9B0iKDxPbFq5flS5aBOmF72O4q1QF2Jj1ir9LwF5GnN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
